// Default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(var(--theme-dark));
    background-color: rgb(var(--theme-light));
    // Color palette (RGB)
    --theme-dark: 0, 0, 0;
    --theme-primary: 103, 54, 104;
    --theme-secondary: 111, 34, 34;
    --theme-complement: 255, 183, 209;
    --theme-light: 255, 255, 255;
    // Dimensions
    --header-height: 56px;
    --header-padding: 0 20px;
    @media only screen and (min-width: 1200px) {
        --header-height: 5vw;
        --header-padding: 0 10vw;
    }
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
li {
    display: block;
}

// Dimensions
//$header-height: 56px;
//$header-padding: 0 20px;

//-------------------------HOME Block-------------------------//
.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 0;
    height: 100%;

    .home__title {
        pointer-events: none;
        width: 100%;
        max-width: 500px;
        padding: 24px 32px 0px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100vw;
            max-width: none;
            height: 27.5vw;
            background-image: linear-gradient(rgba(var(--theme-light), 0), rgba(var(--theme-light), 1));
        }
    }

    .home__logo {
        height: 100%;
        width: 100%;
        margin-bottom: 12px;
        pointer-events: all;
        @media only screen and (min-width: 1200px) {
            width: 70vw;
            height: auto;
            max-width: 1280px;
            margin-bottom: 6.5vw;
        }
    }
    
    .home__prompt {
        position: relative;
        margin: 0 16px 12px;
        top: 0;
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        transition: opacity .2s ease, top .2s ease;
        @media only screen and (min-width: 1200px) {
            margin: 2vw 2em 1.5vw;
        }

        &.home__prompt_hidden {
            opacity: 0;
            top: -1.5em;
        }
    }
    
    .home__highlight {
        color: rgb(var(--theme-primary));
    }

    .home__feedback {
        display: none;
        @media only screen and (min-width: 1200px) {
            display: flex;
            height: 0;
            position: relative;
            top: calc(-3.75vw - 24px);
            width: 100%;
        }
    }

    .home__name {
        pointer-events: none;
        position: relative;
        z-index: 1;
        text-align: right;
        margin: 12px 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: max(20px, 5vw);
        letter-spacing: 0.15em;
        @media only screen and (min-width: 1200px) {
            font-size: 2.5vw;
            flex-basis: 25vw;
            flex-grow: 1;
            min-width: 0;
            text-align: center;
            opacity: 0;
            top: 0.5em;
            transition: opacity .2s ease, top .2s ease;

            &.home__name_visible {
                opacity: 1;
                top: 0;
            }
        }
    }
    
    .home__list {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 16px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: stretch;
            padding: 0 0.5vw 1vw;
            min-height: 400px;
        }
    }

    .home__item {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 36vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1200px) {
            flex-basis: auto;
            margin: 0 0.5vw;
        }
    }

    .home__button {
        position: relative;
        cursor: pointer;
        border: none;
        background-color: rgb(var(--theme-light));
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &:focus, &:hover, &:active {
            outline: none;

            .home__photo {
                transform: scaleX(-1) translateY(-52.5%);
            }
        }

        &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(var(--theme-light));
            border: 0px solid rgb(var(--theme-dark));
            opacity: 0;
            transition: opacity .25s ease, border-color .25s ease, background .25s ease;
            @media only screen and (min-width: 1200px) {
                opacity: 0.25;
            }
        }
        &:hover::after {
            opacity: 0.4;
            border: 0px solid rgb(var(--theme-dark));
            @media only screen and (min-width: 1200px) {
                opacity: 0;
            }
        }
        &:focus::after {
            opacity: 0.35;
            border: 12px solid rgb(var(--theme-primary));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-dark), 0.15);
            }
        }
        &:active::after {
            opacity: 0.75;
            background-color: rgba(var(--theme-light), 0.5);
            border: 12px solid rgb(var(--theme-primary));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-dark), 0.15);
            }
        }
    }
    
    .home__photo {
        position: relative;
        top: 50%;
        width: 100%;
        height: 105%;
        object-fit: cover;
        transform: scaleX(-1) translateY(-50%);
        flex-grow: 1;
        flex-shrink: 1;
        transition: transform .2s ease;
    }
    
    .home__fade {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: linear-gradient(90deg, rgba(var(--theme-light), 0), rgba(var(--theme-light), 1));
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }
}

//-------------------------HEADER Block-------------------------//

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;

    .header__screen {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--theme-dark), 0);
        transition: background-color .25s ease;
        @media only screen and (min-width: 1200px) {
            display: none;
        }

        &.header__screen_active {
            pointer-events: all;
            background-color: rgba(var(--theme-dark), 0.5);
        }
    }

    .header__expand {
        pointer-events: all;
        position: relative;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease;
        @media only screen and (min-width: 1200px) {
            display: none;
        }

        &.header__expand_open {
            max-height: calc(var(--header-height) * 4);
        }
    }

    .header__langFlex {
        pointer-events: all;
        height: var(--header-height);
        display: flex;
        align-items: stretch;
        background-color: rgb(var(--theme-light));
        background-image: linear-gradient(90deg, rgba(var(--theme-dark), 0.8), rgba(var(--theme-dark), 0.5));
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            top: 100%;
            left: 0;
            height: auto;
            max-height: none;
            width: 100%;
            flex-direction: column;
            background-color: transparent;
            background-image: none;
            pointer-events: none;
            opacity: 0;
            transition: top .25s ease, opacity .25s ease;
            z-index: -1;
        }

        &.header__langFlex_open {
            max-height: var(--header-height);
            @media only screen and (min-width: 1200px) {
                top: calc(100% + 0.6vw);
                opacity: 1;
                max-height: none;
                z-index: 0;

                & .header__lang {
                    pointer-events: all;
                }
            }
        }
    }

    .header__lang {
        cursor: pointer;
        display: flex;
        flex: 0 0 50%;
        align-items: center;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        background-color: transparent;
        border: 1px solid rgb(var(--theme-light));
        border-top: none;
        color: rgb(var(--theme-light));
        @media only screen and (min-width: 1200px) {
            background-color: rgb(var(--theme-secondary));
            border: none;
            border-radius: 100vw;
            margin-bottom: 0.4vw;
            font-size: 1.2vw;
            padding: 0.3vw;
        }
    }
    
    .header__base {
        pointer-events: all;
        display: flex;
        position: relative;
        height: var(--header-height);
        background-image: linear-gradient(rgba(var(--theme-light), 1), rgba(var(--theme-light), 0));
        background-color: rgba(var(--theme-light), 0);
        box-shadow: 0 8px 12px rgba(var(--theme-dark), 0);
        align-items: center;
        justify-content: space-between;
        padding: var(--header-padding);
        transition: background-color .25s ease, box-shadow .25s ease;
        @media only screen and (min-width: 1200px) {
            background-image: none;
        }

        &.header__base_pop {
            background-color: rgb(var(--theme-light));
            box-shadow: 0 8px 12px rgba(var(--theme-dark), 0.5);
        }
    }

    .header__logo {
        height: 16px;
        flex-grow: 0;
        @media only screen and (min-width: 1200px) {
            height: 1.2vw;
            flex-shrink: 0;
        }
    }

    .header__actions {
        pointer-events: none;
        display: none;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 1;
        @media only screen and (min-width: 1200px) {
            display: flex;
            padding: 0;
            opacity: 0;
            transition: opacity .25s ease;
        }

        &.header__actions_open {
            opacity: 1;
            pointer-events: all;
        }
    }

    .header__button {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgb(var(--theme-light));
        background-image: linear-gradient(90deg, rgba(var(--theme-primary), 0.5), rgba(var(--theme-secondary), 0.5));
        border: none;
        border-bottom: 1px solid rgb(var(--theme-light));
        color: rgb(var(--theme-secondary));
        height: var(--header-height);
        padding: var(--header-padding);
        fill: rgb(var(--theme-dark));
        @media only screen and (min-width: 1200px) {
            flex-grow: 0;
            width: 14vw;
            border: 2px solid rgb(var(--theme-secondary));
            background-color: transparent;
            background-image: none;
            height: 2.4vw;
            border-radius: 100vw;
            padding: 0.5vw 1.2vw;
            margin: 0 0.5vw;
            fill: rgb(var(--theme-secondary));
        }
    }

    .header__svg {
        height: 24px;
        width: auto;
        @media only screen and (min-width: 1200px) {
            height: 100%;
        }
    }

    .header__buttonText {
        padding: 0 1em;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        color: rgb(var(--theme-dark));
        @media only screen and (min-width: 1200px) {
            font-size: 1.1vw;
            font-weight: 600;
            color: rgb(var(--theme-secondary));
            text-align: center;
            flex-grow: 1;
        }
    }

    .header__drop {
        fill: rgb(var(--theme-dark));
        position: relative;
        top: -1px;
        transform: rotateZ(0deg);
        transition: transform .25s ease;
        @media only screen and (min-width: 1200px) {
            height: 1.2vw;
            fill: rgb(var(--theme-secondary));
            top: 0;
        }

        &.header__drop_open {
            transform: rotateZ(180deg);
        }
    }

    .header__menu {
        background-color: transparent;
        border: none;
        fill: rgb(var(--theme-secondary));
        @media only screen and (min-width: 1200px) {
            position: relative;
            margin-left: 2vw;
            max-width: 5vw;
            opacity: 1;
            transition: margin .25s ease, opacity .25s ease, max-width .25s ease, padding .25s ease;
            background-color: rgb(var(--theme-light));
            border-radius: 50%;
            padding: .75em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.header__menu_hidden {
            @media only screen and (min-width: 1200px) {
                max-width: 0;
                margin: 0;
                opacity: 0;
                pointer-events: none;
                padding: 0;
            }
        }
    }
}

//-------------------------INTRO Block-------------------------//

.intro {
    position: relative;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
        height: calc(100vh - var(--header-height));
        min-height: 40vw;
    }

    .intro__fade {
        width: 100%;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 70vw;
            z-index: -1;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-image: linear-gradient(
                    90deg,
                    rgba(var(--theme-light), 1),
                    rgba(var(--theme-light), 0),
                    rgba(var(--theme-light), 0)
                );
            }
        }
    }

    .intro__image {
        width: 100%;
        object-fit: cover;
        @media only screen and (min-width: 1200px) {
            height: 100%;
        }
    }

    .intro__main {
        margin: var(--header-padding);
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1200px) {
            width: 40vw;
            margin-top: calc(var(--header-height) + 1vw);
            margin-bottom: 2vw;
            flex-grow: 1;
            justify-content: center;
        }
    }

    .intro__name {
        width: 100%;
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0.25em 0;
        color:rgb(var(--theme-dark));
        @media only screen and (min-width: 1200px) {
            font-size: 8vw;
            margin-bottom: 0.4em;
            line-height: 0.55em;
        }
    }

    .intro__highlight {
        color: rgb(var(--theme-primary));
    }

    .intro__paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 2em;
        @media only screen and (min-width: 1200px) {
            font-size: 1.2vw;
            margin-bottom: 1.5em;
        }
    }

    .intro__button {
        cursor: pointer;
        align-self: center;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(var(--theme-primary));
        padding: 0.5em 1.5em;
        border: 2px solid rgb(var(--theme-primary));
        background-color: transparent;
        margin: 20px 0;
        @media only screen and (min-width: 1200px) {
            align-self: flex-start;
            font-size: 1.2vw;
            margin-top: 1vw;
        }
    }
}