// Default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(var(--theme-dark));
    background-color: rgb(var(--theme-light));
    // Color palette (RGB)
    --theme-dark: 0, 0, 0;
    --theme-primary: 103, 54, 104;
    --theme-secondary: 111, 34, 34;
    --theme-complement: 255, 183, 209;
    --theme-light: 255, 255, 255;
    // Dimensions
    --header-height: 56px;
    --side-margin: 20px;
    @media only screen and (min-width: 1200px) {
        --header-height: min(4.5vw, 108px);
        --side-margin: 10vw;
    }
}
body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar-track {
    background-color: rgb(var(--theme-light));
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(var(--theme-secondary));
}
body {
    scrollbar-width: 1rem;
    scrollbar-color: rgb(var(--theme-secondary)) rgb(var(--theme-light));
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
li {
    display: block;
}
a, a:visited {
    text-decoration: none;
}

//-------------------------HOME Block-------------------------//
.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 0;
    height: 100%;

    .home__title {
        pointer-events: none;
        width: 100%;
        max-width: 500px;
        padding: 24px 32px 0px;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            bottom: 0;
            z-index: 2;
            width: 100vw;
            max-width: none;
            height: 27.5vw;
            background-image: linear-gradient(rgba(var(--theme-light), 0), rgba(var(--theme-light), 1));
        }
    }

    .home__logo {
        height: 100%;
        width: 100%;
        margin-bottom: 12px;
        pointer-events: all;
        @media only screen and (min-width: 1200px) {
            width: 70vw;
            height: auto;
            max-width: 1280px;
            margin-bottom: 6.5vw;
        }
    }
    
    .home__prompt {
        position: relative;
        margin: 0 16px 12px;
        top: 0;
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        transition: opacity .2s ease, top .2s ease;
        @media only screen and (min-width: 1200px) {
            margin: 2vw 2em 1.5vw;
        }

        &.home__prompt_hidden {
            opacity: 0;
            top: -1.5em;
        }
    }
    
    .home__highlight {
        color: rgb(var(--theme-primary));
    }

    .home__feedback {
        display: none;
        @media only screen and (min-width: 1200px) {
            display: flex;
            height: 0;
            position: relative;
            top: calc(-3.75vw - 24px);
            width: 100%;
        }
    }

    .home__name {
        pointer-events: none;
        position: relative;
        z-index: 1;
        text-align: right;
        margin: 12px 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: max(20px, 5vw);
        letter-spacing: 0.15em;
        @media only screen and (min-width: 1200px) {
            font-size: 2.5vw;
            flex-basis: 25vw;
            flex-grow: 1;
            min-width: 0;
            text-align: center;
            opacity: 0;
            top: 0.5em;
            transition: opacity .2s ease, top .2s ease;

            &.home__name_visible {
                opacity: 1;
                top: 0;
            }
        }
    }
    
    .home__list {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 16px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: stretch;
            padding: 0 0.5vw 1vw;
            min-height: 400px;
        }
    }

    .home__item {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 36vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1200px) {
            flex-basis: auto;
            margin: 0 0.5vw;
        }
    }

    .home__button {
        position: relative;
        cursor: pointer;
        border: none;
        background-color: rgb(var(--theme-light));
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &:focus, &:hover, &:active {
            outline: none;

            .home__photo {
                transform: scaleX(-1) translateY(-52.5%);
            }
        }

        &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(var(--theme-light));
            border: 0px solid rgb(var(--theme-dark));
            opacity: 0;
            transition: opacity .25s ease, border-color .25s ease, background .25s ease;
            @media only screen and (min-width: 1200px) {
                opacity: 0.25;
            }
        }
        &:hover::after {
            opacity: 0.4;
            border: 0px solid rgb(var(--theme-dark));
            @media only screen and (min-width: 1200px) {
                opacity: 0;
            }
        }
        &:focus::after {
            opacity: 0.35;
            border: 12px solid rgb(var(--theme-primary));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-dark), 0.15);
            }
        }
        &:active::after {
            opacity: 0.75;
            background-color: rgba(var(--theme-light), 0.5);
            border: 12px solid rgb(var(--theme-primary));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-dark), 0.15);
            }
        }
    }
    
    .home__photo {
        position: relative;
        top: 50%;
        width: 100%;
        height: 105%;
        object-fit: cover;
        transform: scaleX(-1) translateY(-50%);
        flex-grow: 1;
        flex-shrink: 1;
        transition: transform .2s ease;
    }
    
    .home__fade {
        pointer-events: none;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: linear-gradient(90deg, rgba(var(--theme-light), 0), rgba(var(--theme-light), 1));
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }
}

//-------------------------HEADER Block-------------------------//

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;

    .header__screen {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--theme-dark), 0);
        transition: background-color .25s ease;
        @media only screen and (min-width: 1200px) {
            display: none;
        }

        &.header__screen_active {
            pointer-events: all;
            background-color: rgba(var(--theme-dark), 0.5);
        }
    }

    .header__expand {
        pointer-events: all;
        position: relative;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease;
        @media only screen and (min-width: 1200px) {
            display: none;
        }

        &.header__expand_open {
            max-height: calc(var(--header-height) * 4);
        }
    }

    .header__langFlex {
        pointer-events: all;
        height: var(--header-height);
        display: flex;
        align-items: stretch;
        background-color: rgb(var(--theme-light));
        background-image: linear-gradient(90deg, rgba(var(--theme-dark), 0.8), rgba(var(--theme-dark), 0.5));
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            top: 100%;
            left: 0;
            height: auto;
            max-height: none;
            width: 100%;
            flex-direction: column;
            background-color: transparent;
            background-image: none;
            pointer-events: none;
            opacity: 0;
            transition: top .25s ease, opacity .25s ease;
            z-index: -1;
        }

        &.header__langFlex_open {
            max-height: var(--header-height);
            @media only screen and (min-width: 1200px) {
                top: calc(100% + 0.6vw);
                opacity: 1;
                max-height: none;
                z-index: 0;

                & .header__lang {
                    pointer-events: all;
                }
            }
        }
    }

    .header__lang {
        cursor: pointer;
        display: flex;
        flex: 0 0 50%;
        align-items: center;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        background-color: transparent;
        border: 2px solid rgb(var(--theme-light));
        border-top: none;
        color: rgb(var(--theme-light));
        transition: background-color .15s ease, color .15s ease, border .15s ease;
        @media only screen and (min-width: 1200px) {
            background-color: rgb(var(--theme-secondary));
            border: none;
            border-radius: 100vw;
            margin-bottom: 0.4vw;
            font-size: 1.2vw;
            padding: 0.3vw;
        }

        &:focus {
            background-color: rgba(var(--theme-dark), 0.75);
            color: rgb(var(--theme-light));
            outline: none;
            @media only screen and (min-width: 1200px) {
                border: 2px solid rgb(var(--theme-secondary));
                background-color: rgba(var(--theme-dark), 1);
                outline: none;
            }
        }

        &:hover {
            background-color: rgba(var(--theme-light), 0.25);
            color: rgb(var(--theme-light));
            fill: rgb(var(--theme-light));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-secondary), 0.85);
            }
        }

        &:active {
            background-color: rgba(var(--theme-dark), 0.5);
            color: rgb(var(--theme-light));
            fill: rgb(var(--theme-light));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-dark), 1);
            }
        }
    }
    
    .header__base {
        pointer-events: all;
        display: flex;
        position: relative;
        height: var(--header-height);
        background-image: linear-gradient(rgba(var(--theme-light), 1), rgba(var(--theme-light), 0));
        background-color: rgba(var(--theme-light), 0);
        box-shadow: 0 8px 12px rgba(var(--theme-dark), 0);
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--side-margin);
        transition: background-color .25s ease, box-shadow .25s ease;
        @media only screen and (min-width: 1200px) {
            background-image: none;
        }

        &.header__base_pop {
            background-color: rgb(var(--theme-light));
            box-shadow: 0 8px 12px rgba(var(--theme-dark), 0.5);
        }
    }

    .header__logo {
        height: 16px;
        flex-grow: 0;
        cursor: pointer;
        @media only screen and (min-width: 1200px) {
            height: 1.2vw;
            flex-shrink: 0;
        }
    }

    .header__actions {
        pointer-events: none;
        display: none;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 1;
        @media only screen and (min-width: 1200px) {
            display: flex;
            padding: 0;
            opacity: 0;
            transition: opacity .25s ease;
        }

        &.header__actions_open {
            opacity: 1;
            pointer-events: all;
        }
    }

    .header__button {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgb(var(--theme-light));
        background-image: linear-gradient(90deg, rgba(var(--theme-primary), 0.5), rgba(var(--theme-secondary), 0.5));
        border: none;
        border-bottom: 1px solid rgb(var(--theme-light));
        color: rgb(var(--theme-dark));
        height: var(--header-height);
        padding: 0 var(--side-margin);
        fill: rgb(var(--theme-dark));
        transition: background-color .15s ease, color .15s ease, fill .15s ease, border .15s ease;
        @media only screen and (min-width: 1200px) {
            flex-grow: 0;
            width: 14vw;
            border: 2px solid rgb(var(--theme-secondary));
            color: rgb(var(--theme-secondary));
            background-color: transparent;
            background-image: none;
            height: 2.4vw;
            border-radius: 100vw;
            padding: 0.5vw 1.2vw;
            margin: 0 0.5vw;
            fill: rgb(var(--theme-secondary));
        }

        &:focus {
            background-color: rgba(var(--theme-dark), 0.1);
            color: rgb(var(--theme-light));
            fill: rgb(var(--theme-light));
            outline: none;
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-secondary), 0.3);
                color: rgb(var(--theme-secondary));
                fill: rgb(var(--theme-secondary));
                outline: none;
            }
        }

        &:hover {
            background-color: rgba(var(--theme-light), 0.75);
            color: rgb(var(--theme-light));
            fill: rgb(var(--theme-light));
            @media only screen and (min-width: 1200px) {
                background-color: transparent;
                border: 2px solid rgba(var(--theme-secondary), 0.6);
                color: rgba(var(--theme-secondary), 0.6);
                fill: rgba(var(--theme-secondary), 0.6);
            }
        }

        &:active {
            background-color: rgba(var(--theme-dark), 0.5);
            color: rgb(var(--theme-light));
            fill: rgb(var(--theme-light));
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-secondary), 1);
                border: 2px solid rgba(var(--theme-secondary), 1);
                color: rgb(var(--theme-light));
                fill: rgb(var(--theme-light));
            }
        }
    }

    .header__svg {
        height: 24px;
        width: auto;
        @media only screen and (min-width: 1200px) {
            height: 100%;
        }
    }

    .header__buttonText {
        padding: 0 1em;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        @media only screen and (min-width: 1200px) {
            font-size: 1.1vw;
            font-weight: 600;
            text-align: center;
            flex-grow: 1;
        }
    }

    .header__drop {
        position: relative;
        top: -1px;
        transform: rotateZ(0deg);
        transition: transform .25s ease;
        @media only screen and (min-width: 1200px) {
            height: 1.2vw;
            top: 0;
        }

        &.header__drop_open {
            transform: rotateZ(180deg);
        }
    }

    .header__menu {
        background-color: transparent;
        border: none;
        fill: rgb(var(--theme-secondary));
        border: 2px solid transparent;
        padding: .25rem;
        cursor: pointer;
        font-size: 0;
        color: transparent;
        transition: background-color .15s ease, fill .15s ease, border .15s ease;
        @media only screen and (min-width: 1200px) {
            position: relative;
            margin-left: 2vw;
            max-width: 5vw;
            opacity: 1;
            transition:
                margin .25s ease,
                opacity .25s ease,
                max-width .25s ease,
                padding .25s ease,
                background-color .15s ease,
                fill .15s ease,
                border .15s ease;
            background-color: rgba(var(--theme-light), 0.75);
            border-radius: 50%;
            padding: .75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(0.75);
        }

        &:focus {
            border: 2px solid rgb(var(--theme-secondary));
            background-color: rgba(var(--theme-secondary), 1);
            fill: rgba(var(--theme-light), 1);
            outline: none;
            @media only screen and (min-width: 1200px) {
                outline: none;
            }
        }

        &:hover {
            fill: rgba(var(--theme-secondary), 0.75);
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-light), 0.9);
                fill: rgba(var(--theme-secondary), 0.75);
            }
        }

        &:active {
            @media only screen and (min-width: 1200px) {
                background-color: rgba(var(--theme-secondary), 0.5);
                fill: rgba(var(--theme-light), 1);
            }
        }

        &.header__menu_hidden {
            @media only screen and (min-width: 1200px) {
                max-width: 0;
                margin: 0;
                opacity: 0;
                pointer-events: none;
                padding: 0;
            }
        }
    }
}

//-------------------------INTRO Block-------------------------//

.intro {
    position: relative;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
        height: calc(100vh - var(--header-height));
        min-height: 40vw;
    }

    .intro__fade {
        width: 100%;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 70vw;
            z-index: -1;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-image: linear-gradient(
                    90deg,
                    rgba(var(--theme-light), 1),
                    rgba(var(--theme-light), 0),
                    rgba(var(--theme-light), 0)
                );
            }
        }
    }

    .intro__image {
        width: 100%;
        min-height: 320px;
        object-fit: cover;
        @media only screen and (min-width: 1200px) {
            height: 100%;
        }
    }

    .intro__main {
        margin: 0 var(--side-margin);
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1200px) {
            width: 40vw;
            margin-top: calc(var(--header-height) + 1vw);
            margin-bottom: 2vw;
            flex-grow: 1;
            justify-content: center;
        }
    }

    .intro__name {
        width: 100%;
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0.25em 0;
        color:rgb(var(--theme-dark));
        @media only screen and (min-width: 1200px) {
            font-size: 8vw;
            margin-bottom: 0.4em;
            line-height: 0.55em;
        }
    }

    .intro__highlight {
        color: rgb(var(--theme-primary));
    }

    .intro__paragraph {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 2em;
        @media only screen and (min-width: 1200px) {
            font-size: 1.2vw;
            margin-bottom: 1.5em;
        }
    }

    .intro__button {
        cursor: pointer;
        align-self: center;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(var(--theme-primary));
        padding: 0.5em 1.5em;
        border: 2px solid rgb(var(--theme-primary));
        background-color: rgba(var(--theme-primary), 0);
        margin: 20px 0;
        transition: color .15s ease, border .15s ease, background-color .15s ease;
        @media only screen and (min-width: 1200px) {
            align-self: flex-start;
            font-size: 1.2vw;
            margin-top: 1vw;
        }

        &:focus {
            background-color: rgba(var(--theme-primary), 0.4);
            outline: none;
        }

        &:hover {
            border: 2px solid rgba(var(--theme-primary), 0.6);
            color: rgba(var(--theme-primary), 0.6);
        }

        &:active {
            background-color: rgba(var(--theme-primary), 1);
            border: 2px solid rgba(var(--theme-primary), 1);
            color: rgb(var(--theme-light));
        }
    }
}

//-------------------------STATS Block-------------------------//

.stats {
    position: relative;
    background-color: rgb(var(--theme-light));
    background-image: linear-gradient(90deg, rgb(var(--theme-primary)), rgb(var(--theme-secondary)),);
    color: rgb(var(--theme-light));
    // Uniform standard for all focusable stat elements:
    --box-padding: min(16px, 4vw);
    --box-border-off: 4px solid rgb(var(--theme-light), 0);
    --box-border-on: 4px solid rgba(var(--theme-light), 1);
    --box-bg-color-off: rgba(var(--theme-dark), 0);
    --box-bg-color-on: rgba(var(--theme-dark), 0.5);
    --box-bg-image-off: none;
    --box-bg-image-on: linear-gradient(90deg, rgba(var(--theme-dark), 0), rgba(var(--theme-light), 0.25));
    --box-shadow-off: 0 0 12px rgba(var(--theme-dark), 0);
    --box-shadow-on: 0 0 12px rgba(var(--theme-dark), 0.5);
    --label-color: rgb(var(--theme-complement));
    --label-weight: 600;
    --label-transform: uppercase;
    --stat-spacing: 24px;
    --stat-small-width: 400px;
    --large-screen-gap: min(112px, 5.8vw);
    --portrait-border: 16px;
    @media only screen and (min-width: 1200px) {
        --stats-large-height: max(100vh, 47vw);
        --portrait-border: min(24px, 1.25vw);
        height: var(--stats-large-height);
    }

    .stats__background {
        fill: rgba(var(--theme-light), 0.075);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    .stats__print {
        display: none;
        position: absolute;
        @media only screen and (min-width: 1200px) {
            display: block;
            width: 60vw;
            height: 60vw;
            left: var(--side-margin);
            top: calc((100% - var(--header-height)) / 2);
            transform: translate(-13%, -45%);
        }
    }

    .stats__ellipse {
        height: 350%;
        transform: translate(calc(-100% + 100vw), -20%);
        animation: infiniteRotate 60s linear infinite;
        @media only screen and (min-width: 1200px) {
            position: absolute;
            width: 120vw;
            height: 120vw;
            left: var(--side-margin);
            top: calc((100% - var(--header-height)) / 2);
            transform: translate(-28%, -46%);
            animation: infiniteRotateLarge 60s linear infinite;
        }
    }

    @keyframes infiniteRotate {
        from {
            transform: translate(calc(-100% + 100vw), -20%) rotate(0deg);
        }
        to {
            transform: translate(calc(-100% + 100vw), -20%) rotate(360deg);
        }
    }
    @keyframes infiniteRotateLarge {
        from {
            transform: translate(-28%, -46%) rotate(0deg);
        }
        to {
            transform: translate(-28%, -46%) rotate(360deg);
        }
    }

    .stats__jump {
        display: none;
        @media only screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: var(--header-height);
            border: 2px solid rgba(var(--theme-dark), 0);
            background-color: rgba(var(--theme-dark), 0.25);
            border: none;
            cursor: pointer;
            transition: background-color .15s ease, border .15 ease;
            font-size: 0;
            color: transparent;
        }

        &:focus {
            background-color: rgba(var(--theme-dark), 0.75);
            border: 2px solid rgba(var(--theme-dark), 0.5);
            outline: none;
        }

        &:hover {
            background-color: rgba(var(--theme-dark), 0.5);
        }

        &:active {
            background-color: rgba(var(--theme-dark), 1);
        }
    }

    .stats__arrow {
        fill: rgb(var(--theme-light));
        height: 1.8vw;
        width: auto;
        transform: scaleY(-1);
    }

    .stats__instruction {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        color: rgb(var(--theme-light), 0.5);
        margin-top: 48px;
        margin-bottom: -24px;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }

    .stats__flex {
        position: relative;
        z-index: 1;
        margin: 32px var(--side-margin) 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @media only screen and (min-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: calc(100% - var(--header-height));
            margin: 0 var(--side-margin);
            padding: max(
                12px, 
                calc((var(--stats-large-height) - var(--header-height) - (50vw - var(--side-margin))) / 2)
            ) 0;
        }
    }

    .stats__scoreSheet {
        --s-label-size: min(18px, 5vw);
        --s-dot-size: min(28px, 7vw);
        --s-info-size: 12px;
        --s-info-height: 1.5;
        --s-info-margin: 0.5;
        --s-info-max-lines: 2;
        --s-score-margin: 2px;
        height: calc(
            (max(var(--s-label-size), var(--s-dot-size)) * 3) +
            (var(--s-score-margin) * 6) +
            (var(--s-info-max-lines) * var(--s-info-height) * 1em) +
            (var(--s-info-margin) * 1em) +
            (var(--box-padding) * 2)
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: var(--stat-small-width);
        position: relative;
        z-index: 1;
        @media only screen and (min-width: 1200px) {
            order: 1;
            width: calc(50% - var(--large-screen-gap));
            flex: 0 0 auto;
            max-width: none;
            --s-label-size: min(36px, 1.8vw);
            --s-dot-size: min(56px, 2.9vw);
            --s-info-size: min(19px, 1vw);
            justify-content: start;
            height: auto;
        }
    }

    .stats__score {
        border: var(--box-border-off);
        background-color: var(--box-bg-color-off);
        background-image: var(--box-bg-image-off);
        box-shadow: var(--box-shadow-off);
        padding: 0 var(--box-padding);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: var(--s-score-margin) 0;
        transition: border .1s linear, background-color .1s linear, box-shadow .1s linear, padding .1s linear;
        outline: none;

        &.stats__score_trigger_focus:focus, &.stats__score_trigger_hover:hover {
            border: var(--box-border-on);
            background-color: var(--box-bg-color-on);
            background-image: var(--box-bg-image-on);
            box-shadow: var(--box-shadow-on);
            padding: var(--box-padding);
            outline: none;

            .stats__info {
                max-height: calc(var(--s-info-max-lines) * var(--s-info-height) * 1em);
                margin-top: calc(var(--s-info-margin) * 1em);
            }
        }
    }

    .stats__term {
        color: var(--label-color);
        text-transform: var(--label-transform);
        font-weight: var(--label-weight);
        font-size: var(--s-label-size);
        line-height: 1em;
        align-self: flex-end;
    }

    .stats__value {
        display: flex;
    }

    .stats__dot {
        width: var(--s-dot-size);
        height: var(--s-dot-size);
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        background-color: rgba(var(--theme-dark), 0.5);
        border-radius: 4px;
        margin-left: 4px;
        font-size: var(--s-label-size);
        box-shadow: 0 0 8px rgba(var(--theme-light), 0);
        user-select: none;

        &.stats__dot_active {
            background-color: rgba(var(--theme-light), 1);
            box-shadow: 0 0 8px rgba(var(--theme-light), 1);
            color: rgb(var(--theme-dark));
        }

        &.stats__dot_clear {
            background-color: rgba(var(--theme-light), 0.6);
        }
    }

    .stats__info {
        font-size: var(--s-info-size);
        font-weight: 300;
        font-style: italic;
        flex: 1 0 100%;
        margin-top: 0em;
        overflow: hidden;
        max-height: 0;
        transition: max-height .1s linear, margin .1s linear;
        line-height: calc(var(--s-info-height) * 1em);
    }

    .stats__alignFlex {
        --a-info-size: 12px;
        --a-info-height: 1.5;
        --a-info-margin: 0.5;
        --a-info-max-lines: 2;
        --a-dot-size: 18px;
        --a-dot-space: 4px;
        --a-label-size: min(24px, 6vw);
        --a-label-height: 1;
        --a-label-margin: 0.25;
        --a-name-size: min(32px, 7.5vw);
        flex: 0 0 100%;
        max-width: var(--stat-small-width);
        height: calc(
            max(
                calc((var(--a-dot-size) * 3) + (var(--a-dot-space) * 2)),
                calc((var(--a-label-size) * var(--a-label-height)) + (var(--a-name-size) * (var(--a-label-height) + var(--a-label-margin))))
            ) +
            (var(--a-info-max-lines) * var(--a-info-height) * 1em) +
            (var(--a-info-margin) * 1em) +
            (var(--box-padding) * 2)
        );
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: 1200px) {
            order: 1;
            width: calc(50% - var(--large-screen-gap));
            flex: 0 0 auto;
            max-width: none;
            --a-label-size: min(36px, 1.8vw);
            --a-name-size: min(48px, 2.5vw);
            --a-dot-size: min(32px, 1.6vw);
            --a-info-size: min(19px, 1vw);
            height: auto;
            margin-top: var(--portrait-border);
        }
    }

    .stats__alignment {
        display: grid;
        grid-template-areas:
            "chart label"
            "chart value"
            "desc desc";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto auto;
        border: var(--box-border-off);
        background-color: var(--box-bg-color-off);
        background-image: var(--box-bg-image-off);
        box-shadow: var(--box-shadow-off);
        padding: 0 var(--box-padding);
        transition: border .1s linear, background-color .1s linear, box-shadow .1s linear, padding .1s linear;
        align-content: center;
        outline: none;

        &.stats__alignment_trigger_focus:focus, &.stats__alignment_trigger_hover:hover {
            border: var(--box-border-on);
            background-color: var(--box-bg-color-on);
            background-image: var(--box-bg-image-on);
            box-shadow: var(--box-shadow-on);
            padding: var(--box-padding);
            outline: none;

            .stats__alignText {
                max-height: calc(var(--a-info-max-lines) * var(--a-info-height) * 1em);
                margin-top: calc(var(--a-info-margin) * 1em);
            }
        }
    }

    .stats__grid {
        grid-area: chart;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-right: min(20px, 4vw);
        gap: var(--a-dot-space) var(--a-dot-space);
        height: calc((var(--a-dot-size) * 3) + (var(--a-dot-space) * 2));
        align-self: flex-end;
        @media only screen and (min-width: 1200px) {
            margin-right: 32px;
        }
    }

    .stats__alignDot {
        width: var(--a-dot-size);
        height: var(--a-dot-size);
        border-radius: 4px;
        background-color: rgba(var(--theme-dark), 0.5);
        box-shadow: 0 0 8px rgba(var(--theme-light), 0);

        &.stats__alignDot_matchX, &.stats__alignDot_matchY {
            background-color: rgba(var(--theme-light), 0.6);
        }

        &.stats__alignDot_matchX.stats__alignDot_matchY {
            background-color: rgba(var(--theme-light), 1);
            box-shadow: 0 0 8px rgba(var(--theme-light), 1);
        }
    }

    .stats__alignLabel {
        grid-area: label;
        color: var(--label-color);
        text-transform: var(--label-transform);
        font-weight: var(--label-weight);
        font-size: var(--a-label-size);
        line-height: calc(var(--a-label-height) * 1em);
        align-self: end;
        margin-bottom: calc(var(--a-label-margin) * 1em);
        text-align: right;
        @media only screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    .stats__alignName {
        grid-area: value;
        font-size: var(--a-name-size);
        font-weight: 300;
        line-height: calc(var(--a-label-height) * 1em);
        text-align: right;
        @media only screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    .stats__alignText {
        grid-area: desc;
        font-size: var(--a-info-size);
        line-height: calc(var(--a-info-height) * 1em);
        font-weight: 300;
        font-style: italic;
        margin-top: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height .1s linear, margin .1s linear;
    }

    .stats__portrait {
        --portrait-size: min(100%, 500px);
        position: relative;
        flex: 0 1 var(--portrait-size);
        width: var(--portrait-size);
        height: 0;
        margin: var(--stat-spacing) 0;
        padding-bottom: var(--portrait-size);
        border-radius: 50%;
        overflow: hidden;
        background-image: linear-gradient(
            90deg,
            rgb(var(--theme-primary)) calc(50% - 50vw),
            rgb(var(--theme-secondary)) calc(50% + 50vw));
        @media only screen and (min-width: 1200px) {
            order: 0;
            flex: 1 0 100%;
            width: 50%;
            padding-bottom: 50%;
            margin: 0;
            margin-right: var(--large-screen-gap);
            background-image: linear-gradient(
                90deg,
                rgb(var(--theme-primary)) calc(0% - var(--side-margin)),
                rgb(var(--theme-secondary)) calc(0% - var(--side-margin) + 100vw));
        }

        &::after {
            content: "";
            position: absolute;
            top: var(--portrait-border);
            left: var(--portrait-border);
            bottom: var(--portrait-border);
            right: var(--portrait-border);
            border-radius: 50%;
            border: var(--portrait-border) solid rgba(var(--theme-light), 0.25);
            @media only screen and (min-width: 1200px) {
                top: calc(var(--portrait-border) * 1.5);
                left: calc(var(--portrait-border) * 1.5);
                bottom: calc(var(--portrait-border) * 1.5);
                right: calc(var(--portrait-border) * 1.5);
            }
        }
    }

    .stats__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: var(--portrait-border);
        border-radius: 50%;
        @media only screen and (min-width: 1200px) {
            padding: calc(var(--portrait-border) * 1.5);
        }
    }

    .stats__abilityFlex {
        --b-label-size: min(24px, 4.5vw);
        --b-label-height: 1;
        --b-info-size: min(16px, 4vw);
        --b-info-height: 1.5;
        --b-info-max-lines: 4;
        --b-info-margin: 0.5;
        flex: 0 0 min(100%, 750px);
        height: calc(
            (var(--b-label-size) * var(--b-label-height)) +
            (var(--b-info-size) * ((var(--b-info-height) * var(--b-info-max-lines)) + var(--b-info-margin))) +
            (var(--box-padding) * 2)
        );
        margin-bottom: var(--stat-spacing);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: 1200px) {
            order: 1;
            width: calc(50% - var(--large-screen-gap));
            flex: 0 0 auto;
            --b-label-size: min(32px, 1.6vw);
            --b-info-size: min(19px, 1vw);
            height: auto;
        }
    }

    .stats__ability {
        border: var(--box-border-off);
        background-color: var(--box-bg-color-off);
        background-image: var(--box-bg-image-off);
        box-shadow: var(--box-shadow-off);
        padding: 0 var(--box-padding);
        transition: border .1s linear, background-color .1s linear, box-shadow .1s linear, padding .1s linear;
        margin-top: 32px;
        outline: none;

        &.stats__ability_trigger_focus:focus, &.stats__ability_trigger_hover:hover {
            border: var(--box-border-on);
            background-color: var(--box-bg-color-on);
            background-image: var(--box-bg-image-on);
            box-shadow: var(--box-shadow-on);
            padding: var(--box-padding);
            outline: none;
        }
    }

    .stats__abilityName {
        font-size: var(--b-label-size);
        color: var(--label-color);
        text-transform: var(--label-transform);
        font-weight: var(--label-weight);
        line-height: calc(var(--b-label-height) * 1em);
    }

    .stats__abilityText {
        font-size: var(--b-info-size);
        font-weight: 300;
        font-style: italic;
        margin-top: calc(var(--b-info-margin) * 1em);
        line-height: calc(var(--b-info-height) * 1em);
    }
}

//-------------------------GALLERY Block-------------------------//

.gallery {
    position: relative;
    padding: 48px var(--side-margin);
    width: 100%;
    background-color: rgb(var(--theme-light));
    background-image: linear-gradient(90deg, rgba(var(--theme-light), 0.1), rgba(var(--theme-dark), 0.1));
    @media only screen and (min-width: 1200px) {
        --gallery-height: max(calc(600px - var(--header-height)), 100vh);
        --gallery-padding: max(48px, calc((100vh - 50vw) / 2));
        --gallery-flex-height: calc(
            var(--gallery-height) -
            var(--header-height) -
            (var(--gallery-padding) * 2)
        );
        --gallery-gap: 12px;
        height: var(--gallery-height);
        padding: calc(var(--header-height) + 4vw) var(--side-margin) 4vw;
    }

    .gallery__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(var(--theme-primary), 0.5), rgba(var(--theme-secondary), 0.5));
        top: 0;
        left: 0;
        clip-path: polygon(0% 20%, 100% 35%, 100% 80%, 0% 65%);
    }

    .gallery__flex {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            height: 100%;
        }
    }

    .gallery__titleTop {
        display: block;
        text-align: center;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1em;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }

    .gallery__subtitle {
        font-size: 14px;
        font-style: italic;
        color: rgb(var(--theme-dark), 0.5);
        margin-bottom: 48px;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }

    .gallery__highlight {
        color: rgb(var(--theme-primary));
    }

    .gallery__grid {
        display: none;
        @media only screen and (min-width: 1200px) {
            display: grid;
            grid-template-areas:
                "one two two"
                "three title title"
                "three four five"
                "six six five";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            flex: 1 0 50%;
            height: var(--gallery-flex-height);
            max-width: calc(var(--gallery-flex-height) * 1.2);
            gap: var(--gallery-gap) var(--gallery-gap);
        }
    }

    .gallery__titleMiddle {
        grid-area: title;
        background-color: rgba(var(--theme-light), 0.75);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: min(64px, 3.2vw);
        font-weight: 900;
        text-transform: uppercase;
        box-shadow: 0px 2px 4px rgba(var(--theme-dark), 0.75);
    }

    .gallery__item {
        overflow: hidden;
        position: relative;
        border: none;
        background-color: none;
        box-shadow: 0px 2px 4px rgba(var(--theme-dark), 0.75);
        --top-radius: 0px;
        --bottom-radius: 0px;
        --highlight: rgba(var(--theme-light), 0.25);
        --border-highlight: rgba(var(--theme-light), 0.25);
        &:first-of-type {
            --top-radius: 24px;
        }
        &:last-of-type {
            --bottom-radius: 24px;
        }
        border-top-left-radius: var(--top-radius);
        border-bottom-left-radius: var(--bottom-radius);
        opacity: 0.85;
        cursor: pointer;
        transition: opacity .1s linear;

        &:focus {
            outline: none;
            opacity: 1;
            --highlight: rgba(var(--theme-light), 0.25);
            --border-highlight: rgba(var(--theme-dark), 0.5);
        }

        &.gallery__item_selected {
            opacity: 1;
            --highlight: rgba(var(--theme-dark), 0.25);
            --border-highlight: rgba(var(--theme-primary), 0.5);
            &:focus {
                --border-highlight: rgba(var(--theme-complement), 0.5);
            }
        }
        
        &:hover {
            opacity: 1;
            --highlight: rgba(var(--theme-light), 0);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--highlight);
            border: 12px solid var(--border-highlight);
            border-top-left-radius: var(--top-radius);
            border-bottom-left-radius: var(--bottom-radius);
            transition: background-color .1s linear, border .1s linear;
        }
    }

    .gallery__preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__display {
        position: relative;
        height: min(calc(100vh - 72px), calc(100vw - 72px));
        width: min(calc(100vh - 72px), calc(100vw - 72px));
        border-radius: 24px;
        overflow: hidden;
        margin-bottom: 64px;
        box-shadow: 0px 2px 4px rgba(var(--theme-dark), 0.75);
        @media only screen and (min-width: 1200px) {
            width: var(--gallery-flex-height);
            height: var(--gallery-flex-height);
            flex-shrink: 0;
            margin: 0 0 0 var(--gallery-gap);
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 12px solid rgba(var(--theme-light), 0.25);
            background-color: rgba(var(--theme-light), 0);
            border-radius: 24px;
            animation-name: none;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            @media only screen and (min-width: 1200px) {
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                border: 12px solid rgba(var(--theme-secondary), 0.5);
            }
        }

        &.gallery__display_toggle_A::after {
            animation-name: displayFlashA;
        }
        &.gallery__display_toggle_B::after {
            animation-name: displayFlashB;
        }
    }

    @keyframes displayFlashA {
        0% {
            background-color: rgba(var(--theme-light), 0);
        }
        5% {
            background-color: rgba(var(--theme-light), 0.4);
        }
        100% {
            background-color: rgba(var(--theme-light), 0);
        }
    }
    @keyframes displayFlashB {
        0% {
            background-color: rgba(var(--theme-light), 0);
        }
        5% {
            background-color: rgba(var(--theme-light), 0.4);
        }
        100% {
            background-color: rgba(var(--theme-light), 0);
        }
    }

    .gallery__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__nav {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        flex-wrap: wrap;
        height: 44px;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }

    .gallery__button {
        position: relative;
        width: 36vw;
        max-width: 148px;
        height: 44px;
        background-color: transparent;
        text-transform: uppercase;
        border: 2px solid rgb(var(--theme-light));
        font-size: 20px;
        font-weight: 300;
        line-height: 40px;
        cursor: pointer;
        transition: color .15s ease, background-color .15s ease, border .15s ease;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 16px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            transition: fill .15s ease;
        }

        &.gallery__button_left {
            border-color: rgb(var(--theme-primary));
            color: rgb(var(--theme-primary));
            padding-left: 20px;

            &::after {
                background-color: rgb(var(--theme-primary));
                left: 4px;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
            }

            &:focus {
                background-color: rgba(var(--theme-primary), 0.35);
                outline: none;
            }
    
            &:hover {
                border: 2px solid rgba(var(--theme-primary), 0.8);
                color: rgba(var(--theme-primary), 0.8);
                &::after {
                    fill: rgba(var(--theme-primary), 0.8);
                }
            }
    
            &:active {
                background-color: rgba(var(--theme-primary), 1);
                border: 2px solid rgba(var(--theme-primary), 1);
                color: rgb(var(--theme-light));
                &::after {
                    fill: rgb(var(--theme-light));
                }
            }
        }

        &.gallery__button_right {
            border-color: rgb(var(--theme-secondary));
            color: rgb(var(--theme-secondary));
            padding-right: 20px;

            &::after {
                background-color: rgb(var(--theme-secondary));
                right: 4px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
            }

            &:focus {
                background-color: rgba(var(--theme-secondary), 0.35);
                outline: none;
            }
    
            &:hover {
                border: 2px solid rgba(var(--theme-secondary), 0.8);
                color: rgba(var(--theme-secondary), 0.8);
                &::after {
                    fill: rgba(var(--theme-secondary), 0.8);
                }
            }
    
            &:active {
                background-color: rgba(var(--theme-secondary), 1);
                border: 2px solid rgba(var(--theme-secondary), 1);
                color: rgb(var(--theme-light));
                &::after {
                    fill: rgb(var(--theme-light));
                }
            }
        }
    }
}

//-------------------------FOOTER Block-------------------------//

.footer {
    position: relative;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(var(--theme-primary)), rgb(var(--theme-secondary)));
    padding: 48px var(--side-margin);
    overflow: hidden;
    @media only screen and (min-width: 1200px) {
        padding: 64px var(--side-margin);
    }

    .footer__ellipse {
        position: absolute;
        top: 0;
        left: 0;
        height: 350%;
        transform: translate(calc(-100% + 100vw), -10%);
        animation: infiniteRotateFooter 60s linear infinite;
        fill: rgba(var(--theme-light), 0.075);
        @media only screen and (min-width: 1200px) {
            position: absolute;
            width: 120vw;
            height: 120vw;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            animation: infiniteRotateLargeFooter 60s linear infinite;
        }
    }

    @keyframes infiniteRotateFooter {
        from {
            transform: translate(-15%, 5%) rotate(0deg);
        }
        to {
            transform: translate(-15%, 5%) rotate(360deg);
        }
    }
    @keyframes infiniteRotateLargeFooter {
        from {
            transform: translate(calc(-100% + 120vw), 5%) rotate(0deg);
        }
        to {
            transform: translate(calc(-100% + 120vw), 5%) rotate(360deg);
        }
    }

    .footer__flex {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }

    .footer__main {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    .footer__logo {
        width: 100%;
    }

    .footer__credit {
        align-self: stretch;
        font-size: 19px;
        font-weight: 100;
        color:rgba(var(--theme-light), 0.5);
        margin-bottom: 32px;
        @media only screen and (min-width: 1200px) {
            margin-bottom: 0;
            flex-grow: 1;
            color:rgba(var(--theme-light), 0.75);
        }
    }

    .footer__check {
        font-size: 20px;
        font-weight: 400;
        color: rgb(var(--theme-light));
        line-height: 1em;
        margin-bottom: 18px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 180px;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 64px;
        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            margin-bottom: 0;
            max-width: none;
        }
    }

    .footer__link {
        @media only screen and (min-width: 1200px) {
            flex: 1 1 120px;
            margin: 0 6px;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .footer__button {
        width: 100%;
        background-color: transparent;
        border: 2px solid rgb(var(--theme-light));
        color: rgb(var(--theme-light));
        fill: rgb(var(--theme-light));
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 18px;
        margin-bottom: 12px;
        cursor: pointer;
        @media only screen and (min-width: 1200px) {
            margin-bottom: 0;
        }

        &:focus {
            background-color: rgba(var(--theme-light), 0.25);
            outline: none;
        }

        &:hover {
            border: 2px solid rgba(var(--theme-complement), 1);
            color: rgba(var(--theme-complement), 1);
            fill: rgba(var(--theme-complement), 1);
        }

        &:active {
            background-color: rgba(var(--theme-light), 1);
            border: 2px solid rgba(var(--theme-light), 1);
            color: rgb(var(--theme-dark));
            fill: rgb(var(--theme-dark));
        }
    }

    .footer__svg {
        height: 100%;
    }

    .footer__label {
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        flex-grow: 1;
        text-decoration: none;
    }

    .footer__back {
        width: 100%;
        max-width: 180px;
        height: 180px;
        background-color: transparent;
        border: 2px solid rgb(var(--theme-light));
        fill: rgb(var(--theme-light));
        color: rgb(var(--theme-light));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        padding: 24px 16px 16px;
        cursor: pointer;

        &:focus {
            background-color: rgba(var(--theme-light), 0.25);
            outline: none;
        }

        &:hover {
            border: 2px solid rgba(var(--theme-complement), 1);
            color: rgba(var(--theme-complement), 1);
            fill: rgba(var(--theme-complement), 1);
        }

        &:active {
            background-color: rgba(var(--theme-light), 1);
            border: 2px solid rgba(var(--theme-light), 1);
            color: rgb(var(--theme-dark));
            fill: rgb(var(--theme-dark));
        }
    }

    .footer__backSvg {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    .footer__backLabel {
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 16px;
    }
}